<widget id="Earthquake" version="0.0.1.9" 
  xmlns="http://www.w3.org/ns/widgets" 
  xmlns:cdv="http://cordova.apache.org/ns/1.0" 
  xmlns:rim="http://www.blackberry.com/ns/widgets">
  <name>Earthquake</name>
  <rim:splash src="img/splash-1280x768.png"/>
  <rim:splash src="img/splash-768x1280.png"/>
  <author email="5thgfka@gmail.com" href="http://cordova.io">ekse</author>
  <icon src="img/logo.png"/>
  <content src="index.html"/>
  <access origin="*"/>
  <access origin="http://www.csndmc.ac.cn/" subdomains="true"/>
  <access origin="http://openapi.baidu.com" subdomains="true"/>
  <access origin="http://typos.sinaapp.com" subdomains="true"/>
  <description>Display the latest 50 Earthquake.</description>
</widget>
