<?xml version='1.0' encoding='utf-8'?>
<widget id="Earthquake" 
  xmlns:rim="http://www.blackberry.com/ns/widgets" version="0.0.1.2" 
  xmlns="http://www.w3.org/ns/widgets" 
  xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Earthquake</name>
  <rim:splash src="img/splash-1280x768.png"/>
  <rim:splash src="img/splash-768x1280.png"/>
  <author email="5thgfka@gmail.com" href="http://cordova.io">ekse</author>
  <icon src="img/logo.png"/>
  <content src="index.html"/>
  <access origin="*"/>
  <access origin="http://www.12322.org" subdomains="true"/>
  <description>Display the latest 50 Earthquake.</description>
</widget>
